* {
  box-sizing: border-box;
}

.forecast {
  display: inline;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  text-align: left;
}

/* h2 {
  font-size: var(--font-size-regular);
  font-weight: 400;
  margin: 0;
  display: flex;
  justify-content: space-between;
} */