/* .forecast {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 900px;
  padding: 0 10px;
  width: 50px;
  border-radius: 5px;
  background-color: var(--warning);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}





.forecast-list {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: baseline;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
} */
