.weather-details .auto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: var(--space-2);
    align-items: center;
}

.weather-details .weather-icon,
.weather-details .day-night-icon {
display: flex;
justify-content: center;
}

.weather-details .temperature,
.weather-details .description {
text-align: center;
}